@charset "UTF-8";

@font-face{
	font-family: ALGER;
    src: url(ALGER.woff);
}

html{
	-webkit-text-size-adjust: none;
	background-color: rgb(200,103,220);
}

body{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial;
}

header{
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(5,255,161);
	height: 70px;
	margin-bottom: 10px;
}

img.KOPicl{
	height: 70px;
	float: left;
}

div.name{
	padding-top: 5px;
	margin-left: 200px;
	font-size: 150%;
	font-weight: bold;
}

img.KOPicr{
	height: 70px;
	float: right;
}

article{
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(1,205,254);
	margin-bottom: 10px;
	padding: 2px;
	padding-left: 15px;
	padding-right: 15px;
	overflow: hidden; 
}

div.move{
	padding-top: 20px;
	padding-right: 40px;
	padding-left: 40px;
}

#nadps{
	color: black;
}

footer{
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(5,255,161);
	overflow: hidden;
	padding: 2px;
}

div.copy{
	margin-left: 2px;
	float: left;
}

div.contact{
	margin-right: 2px;
	float: right;
}

a.cln{
	font-weight: bold;
}

a:link{
	color: rgb(77, 10, 202);
	text-decoration: none;
}

a:hover{
	color:rgb(255, 0, 0);
}

li{
	display: inline;
}

#myInput{
	margin-top: 10px;
	margin-left: 35px;
	width: 250px;
}

