@charset "UTF-8";

@font-face{
	font-family: ALGER;
    src: url(ALGER.woff);
}

html{
	-webkit-text-size-adjust: none;
	background-color: rgb(128, 128, 128);
}

body{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial;
}

header{
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	height: 70px;
	margin-bottom: 10px;
}

img.KOPicl{
	height: 70px;
	float: left;
}

div.name{
	padding-top: 5px;
	margin-left: 200px;
	font-size: 150%;
	font-weight: bold;
}

img.KOPicr{
	height: 70px;
	float: right;
}

nav{
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	margin-bottom: 10px;
	text-align: center;
	padding: 2px;
}

ul.nav{
	display: inline;
	list-style-type: none;
}

li.nav{
	display: inline;
}

#space{
	margin-right: 40px;
}

article{
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	margin-bottom: 10px;
	padding: 2px;
	padding-left: 15px;
	padding-right: 15px;
	overflow: hidden; 
}

#low{
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	margin-bottom: 10px;
	margin-top: 13px;
	text-align: center;
	font-size: 25px;
}

#KoleckOLP{
	font-family: ALGER;
	font-size: 150%;
}

#link{
	font-size: 125%;
}

ul.ftr{
	list-style-type: disc;
}

a.clnb{
	color: rgb(77, 10, 202);
	font-weight: bold;
	text-decoration: none;
	font-size: 140%;
}

footer{
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	overflow: hidden;
	padding: 2px;
}

div.copy{
	margin-left: 2px;
	float: left;
}

div.contact{
	margin-right: 2px;
	float: right;
}

a.cln{
	font-weight: bold;
}

a:link{
	color: rgb(77, 10, 202);
	text-decoration: none;
}
a:hover{
	color:rgb(255, 0, 0);
}