@charset "UTF-8";

html{
	-webkit-text-size-adjust: none;
	background-color: rgb(128, 128, 128);
}

body{
	font-family: sans-serif;
	height: 500px; width: 480px;
	margin-left: auto;
	margin-right: auto;
}

#left{
	float: left;
}

#right{
	float: right;
}

#header{
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	height: 70px;
	margin-bottom: 10px;
}

#ntx{
	width: 200px;
	font-family: Arial;
	float: left;
	margin-top: 3px;
	margin-left: 75px;
	margin-right: 0px;
}

#nav{
	font-family: Antiqua;
	background-color: rgb(255, 255, 255);
	margin-bottom: 10px;
	text-align: center;
	float: none;
	border: 1px solid rgb(0, 0, 0);
}

#article{
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(0, 0, 0);
	margin-bottom: 10px;
	padding: 10px;
}

#footer{
	padding: 4px;
	clear: both;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(0, 0, 0);
	margin-bottom: 10px;
}

#contact{
	float: right;
	font-family: serif;
}

#rud{
	color: rgb(255, 0, 0);
}

