@charset "UTF-8"

article, aside, footer, header, main, nav, section{
	display: block;
}


html{
	background-color: grey;
}

body{
	font-family: sans-serif;
	height: 500px; width: 925px;
	margin-left: auto;
	margin-right: auto;
}

#left{
	float: left;
}

#right{
	float: right;
}

header{
	border: 1px solid black;
	background-color: white;
	box-shadow: 5px -5px 6px #585858;
	height: 70px;
	margin-bottom: 10px;
}

#ntx{
	width: 412px;
	font-family: Arial;
	float: left;
	margin-top: 13px;
	margin-left: 125px;
	margin-right: 0px;
}

nav{
	font-family: Antiqua;
	text-shadow: 3px -3px 2px #CC9933;
	background-color: white;
	margin-bottom: 10px;
	letter-spacing: 6.66px;
	text-align: center;
	float: none;
	border: 1px solid black;
	box-shadow: 5px -5px 6px #585858;
}

article{
	background-color: white;
	border: 1px solid black;
	box-shadow: 5px -5px 6px #585858;
	margin-bottom: 10px;
	padding: 10px;
}

footer{
	padding: 4px;
	clear: both;
	background-color: white;
	border: 1px solid black;
	box-shadow: 5px -5px 6px #585858;
	margin-bottom: 10px;
}

#contact{
	float: right;
	font-family: serif;
}

p{
	float: none;
	font-size: 10px;
}

#KoleckOLP{
	font-size: 25px;
	font-family: Algeria;
}

a:link{
	color: #666600;
	letter-spacing: 2px;
	text-decoration: none
}

a:hover{
	color:red;
}

li{
	display: inline;
}

h2{
	text-align: center;
}

#olevo{
	float: left;
	width: 140px;
	padding: 0px;
	border: 1px solid white;
	margin-right: 10px;
}

#elevo{
	float: left;
	width: 140px;
	padding: 0px;
	border: 1px solid white;
	border-right: 1px solid black;
	margin-right: 10px;
}

#llevo{
	float: left;
	width: 140px;
	padding: 0px;
	border: 1px solid white;
}

#clevo{
	float: left;
	width: 140px;
	padding: 0px;
	margin-right: 762px;
	border: 1px solid white;
	border-right: 1px solid black;
}

#e2levo{
	float: left;
	width: 140px;
	padding: 0px;
	margin-right: 305px;
	border: 1px solid white;
	border-right: 1px solid black;
}

#e1levo{
	float: left;
	width: 140px;
	padding: 0px;
	margin-right: 153px;
	border: 1px solid white;
	border-right: 1px solid black;
}

#wolevo{
	float: left;
	width: 102px;
	padding: 0px;
	border: 1px solid white;
	margin-right: 10px;
}

#wllevo{
	float: left;
	width: 102px;
	padding: 0px;
	border: 1px solid white;
}


p{
	font-size: 15px;
	text-align: center;
}

h5{
	text-align: center;
	color: red;
}

#player{
	height: 30px;
	width: 140px;
}

#wplayer{
	height: 30px;
	width: 102px;
}

