@charset "UTF-8"

article, aside, footer, header, main, nav, section{
	display: block;
}

html{
	background-color: grey;
}

body{
	font-family: sans-serif;
	height: 500px; width: 925px;
	margin-left: auto;
	margin-right: auto;
}

#left{
	float: left;
}

#right{
	float: right;
}

header{
	border: 1px solid black;
	background-color: white;
	box-shadow: 5px -5px 6px #585858;
	height: 70px;
	margin-bottom: 10px;
}

#ntx{
	width: 412px;
	font-family: Arial;
	float: left;
	margin-top: 13px;
	margin-left: 125px;
	margin-right: 0px;
}

nav{
	font-family: serif;
	text-shadow: 3px -3px 2px #CC9933;
	background-color: white;
	margin-bottom: 10px;
	letter-spacing: 6.66px;
	text-align: center;
	float: none;
	border: 1px solid black;
	box-shadow: 5px -5px 6px #585858;
}

article{
	background-color: white;
	border: 1px solid black;
	box-shadow: 5px -5px 6px #585858;
	margin-bottom: 10px;
	padding: 10px;
}

footer{
	padding: 4px;
	clear: both;
	background-color: white;
	border: 1px solid black;
	box-shadow: 5px -5px 6px #585858;
	margin-bottom: 10px;
}

#contact{
	float: right;
	font-family: serif;
}

p{
	float: none;
}

a:link{
	color: #666600;
	letter-spacing: 2px;
	text-decoration: none
}

a:hover{
	color:red;
}

li{
	display: inline;
}

#hid{
	cursor: default;
	float: right;
	margin-right: 15px;
	margin-top: 10px;
}

#move{
	margin-left: 35px;
}

#informace{
	padding-left: 20px;
	background-color: orange;
	border: 1px solid black;
	margin-bottom: 10px;
	color: red;
}

#nadps{
	color: black;
}